.flex {
  display: flex;
}
.item-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.p-1 {
  color: var(--pure);
}
.p-2 {
  color: var(--dark);
}
.btn {
  padding: 0.6rem 1.8rem;
  font-weight: 550;
  font-size: 0.8rem;
  text-transform: uppercase;
  border: var(--primary) 2px solid;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}
.btn-primary {
  background-color: var(--primary);
  color: var(--dark);
  border: burlywood solid 1.7px;
}
.btn-primary:hover {
  transition: all 0.3 ease;
  background-color: transparent;
  border: var(--primary) solid 2px;
  color: var(--primary);
}
.btn-secondary {
  background-color: transparent;
  color: var(--primary);
}
.btn-secondary:hover {
  transition: all 0.3 ease;
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--dark);
}
.sub-container {
  text-align: center;
}
.logo img {
  width: 82.7px;
  height: 70.9px;
}
.heading {
  border-top: burlywood solid 2px;
  border-bottom: burlywood solid 2px;
  padding: 0.3rem 0 0.3rem 0;
  font-weight: normal;
  color: #272727d3;
}
.heading2 {
  border-top: orange solid 1.5px;
  border-bottom: orange solid 1.5px;
  padding: 0.3rem 0 0.3rem 0;
  font-weight: normal;
  color: #272727d3;
}
